<!--templates/base.html-->
<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="This blog engine is built for e-learning">
    <meta name="robots" content="index, follow">
    <meta name='keywords' content='e-learning, learning, school, math, programming'>
    <title>{{data['blog_title']}}</title>
    <script src="/static/scripts/jQuery.js"></script>
    <script src='/static/scripts/base.js'></script>
    <link href="/static/styles/base.css" rel="stylesheet">
    <link href="/static/styles/menu.css" rel="stylesheet">
    <link href="/static/fonts/setup.css" rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/static/images/site_logo.png" rel="icon">
    {% endblock %}
  </head>
  <body>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>
    
    <div id="header">
      {% block header %}
      <header id="blog-title" class="blog-title region">
        <div id="date-time">
          <div class="date" >
            <script>
              $(document).ready(function(){
                $('.date').append(base.setDate());
              });
            </script>
          </div>
          <div id="kh-clock">
            <script>
              $(document).ready(function(){
                base.setClock();
              });
            </script>
          </div>
        </div>
        <div id="title">
          {{data['blog_title']}}
          <div class="description">{{ data['blog_description'] }}</div>
        </div>
        <div id="blog-search">
          <form class="search" action="/search/frontend" method="post">
            <input type="text"  placeholder="Search.." name="fquery" required>
            <button type="submit">ស្វែង​រក</button>
          </form>
        </div>
      </header>
      <nav id="main-menu" class="main-menu" > 
        <div class="Menu region">
          <div class="topnav" id="myTopnav">
            <a href="/" class="active">ទំព័រដើម</a>
            <a href="#">គណិតវិទ្យា</a>
            <a href="#">កម្មវិធី​កំព្យូទ័រ</a>
            <a href="#">រូបវិទ្យា</a>
            <a href="#">គីមីវិទ្យា</a>
            <a href="/page/255335818918574353536921281465350012877">ទំនាក់ទំនង</a>
            <a href="/page/159922081722610501946469262345759053963">អំពីយើង​ខ្ញុំ</a>
            <a href="javascript:void(0);" class="icon" onclick="base.mobileMenu()">
              <i class="fa fa-bars"></i>
            </a>
            <a href="/login/" class="login">ចូល​ក្នុង</a>
          </div>
        </div>
      </nav>
      {% endblock %}
    </div>
    
    <div id="main" class="main region">
      {% block main %}
      <div id="content">{% block content %}{% endblock %}</div>
      <div id="sidebar">{% block sidebar %}{% endblock %}</div>
      {% endblock %}
    </div>

    <div id="footer" class="footer region">
      {% block footer %}
      &copy; Copyright 2020 by <a href="https://www.khmerweb.app/">Khmer Web</a>.
      <script>var base = new Base();</script>
      {% endblock %}
    </div>
  </body>
</html>