<!--templates/dashboard.html-->
<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="This blog engine is built for e-learning">
    <meta name="robots" content="index, follow">
    <meta name='keywords' content='e-learning, learning, school, math, programming'>
    <title>{{data['blog_title']}}</title>
    <script src="/static/scripts/jQuery.js"></script>
    <script src='/static/scripts/base_dashboard.js'></script>
    <link href="/static/styles/base_dashboard.css" rel="stylesheet">
    <link href="/static/styles/menu_dashboard.css" rel="stylesheet">
    <link href="/static/fonts/setup.css" rel='stylesheet'>
    <link href="/static/images/site_logo.png" rel="icon">
    {% endblock %}
  </head>
  <body>
    <div id="header">
      {% block header %}
      <header id="blog-title" class="blog-title region">
        
        <div id="title">
          {{data['blog_title']}}
        </div>
        <div id="blog-search">
          <form class="search" action="/search/frontend" method="post">
            <input type="text"  placeholder="Search.." name="fquery" required>
            <button type="submit">ស្វែង​រក</button>
          </form>
        </div>
      </header>
      {% endblock %}
    </div>
    
    <div id="main" class="main region">
      {% block main %}
      <div id="content">{% block content %}{% endblock %}</div>
      <div id="sidebar">{% block sidebar %}{% endblock %}</div>
      {% endblock %}
    </div>

    <div id="footer" class="footer region">
      {% block footer %}
      &copy; Copyright 2020 by <a href="https://www.khmerweb.app/">Khmer Web</a>.
      <script>var base = new Base();</script>
      {% endblock %}
    </div>
  </body>
</html>