<!--templates/index.html-->
{% extends "base.html" %}

{% block head %}
{{ super() }}
<link href="/static/styles/index.css" rel="stylesheet" >
<script src="/static/scripts/index.js"></script>
{% endblock %}

{% block main %}
<div id="front-panel">

{% if 'posts' in data %}
  {% for v in range(data['posts']|length) %}
  {% if v == 0 %}
  <div class='wrapper1'>
    <div  style="position:relative;padding-top:57.30%;">
  {% else %}
  <div class='wrapper'>
    <div  style="position:relative;padding-top:56.25%;">
  {% endif %}
      <a href="/post/{{ data['posts'][v][0] }}"><img src="{{ data['thumbs'][v] }}" style="position:absolute;top:0;left:0;width:100%;min-height:100%;" /></a>
      <a href="/post/{{ data['posts'][v][0] }}"><p class="title" >{{ data['posts'][v][1] }}</p></a>
      {% if data['videos'][v]|length %}
      <a href="/post/{{ data['posts'][v][0] }}"><img class="play-icon" src="/static/images/play.png" /></a>
      {% endif %}
      <p class="date-news" >{{ (data['posts'][v][4]) }}</p>
    </div>
  </div>
  {% endfor %}
  
</div>
{% endif %}

<div id='front-nav'>
  <img onclick="index.navigate('next')" class="left" src="/static/images/left.png" />
  <img onclick="index.navigate('home')" class="home" src="/static/images/home.png" />
  <img onclick="index.navigate('previous')" class="right" src="/static/images/right.png" />
</div>

<div id="books">
  {% if 'books' in data %}
  {% for v in range(data['books']['books']|length) %}
  <a href="/book/{{ data['books']['books'][v][0] }}"><img src="{{ data['books']['thumbs'][v] }}" /></a>
  {% endfor %}
  {% endif %}
</div>

<div id="load-more" class="load-more region">
  <img onclick="index.loadBook()" src="/static/images/load-more.png" />
</div>

{% endblock %}