<!--templates/index.html-->
{% extends "base.html" %}

{% block head %}
{{ super() }}
<link href="/static/styles/index.css" rel="stylesheet" >
{% endblock %}

{% block main %}
<div id="front-panel">
  <div class='wrapper1'>
    <div  style="position:relative;padding-top:57.25%;">
      <iframe src="https://www.youtube.com/embed/OOSl2jeAA5U" 
      frameborder="0" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
  </div>

  <div class='wrapper'>
    <div  style="position:relative;padding-top:56.25%;">
      <iframe src="https://www.youtube.com/embed/5FKL_voZuFw" 
      frameborder="0" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
  </div>

  <div class='wrapper'>
    <div  style="position:relative;padding-top:56.25%;">
      <iframe src="https://www.youtube.com/embed/7lmCu8wz8ro" 
      frameborder="0" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
  </div>

  <div class='wrapper'>
    <div  style="position:relative;padding-top:56.25%;">
      <iframe src="https://www.youtube.com/embed/SnL5L7RbnJ4" 
      frameborder="0" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
  </div>

  <div class='wrapper'>
    <div  style="position:relative;padding-top:56.25%;">
      <iframe src="https://www.youtube.com/embed/yKHJsLUENl0" 
      frameborder="0" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
  </div>
</div>

<div id='front-nav'>
  <img class="left" src="/static/images/left.png" />
  <img class="home" src="/static/images/home.png" />
  <img class="right" src="/static/images/right.png" />
</div>

<div id="books">
  <img src="https://1.bp.blogspot.com/-OEDycFbargA/XzyMbiapG9I/AAAAAAABpOQ/eXTomwZY1Y8Vq5CcIkg-ziQ2-4Ehc8ilwCLcBGAsYHQ/s459/python.jpg" />
  <img src="https://1.bp.blogspot.com/-ML8y7o9FE7g/X1rk31sRC3I/AAAAAAABp5o/k3J8Nf5xDyIsM3l4Z7uq3HIhK-rBSdzhQCLcBGAsYHQ/s0/database.png" />
  <img src="https://1.bp.blogspot.com/-sV8txL65fTY/X1rXhKF3kzI/AAAAAAABp5c/sghwMD-cKjAmu2BossLssqO62kdimi3SQCLcBGAsYHQ/s0/frameworks.jpg" />
  <img src="https://1.bp.blogspot.com/-YrHEj7imjyI/X3PpRDzCvQI/AAAAAAABqRM/eJNJy0oTQl4qTQijL18ugAMuYitp42VmgCLcBGAsYHQ/s0/pyproject.png" />
</div>

{% endblock %}