<!--templates/user.html-->
{% extends "base.html" %}

{% block head %}
{{ super() }}
<link href="/static/styles/fuser.css" rel="stylesheet" >
{% endblock %}

{% block content %}

<h3><span class="user-title">{{ data['user'][1] }}</span></h3>

<p class="user-meta">
  {% if 'logged-in' in session %}
  <span><a href="/dashboard/user/edit/{{ data['user'][0] }}"><img src="/static/images/edit.png" /></a>
    <a href="/dashboard/user/delete/{{ data['user'][0] }}"><img src="/static/images/delete.png" /></a>
  </span>
  {% endif %}
</p>

<article class="user-body">{{ data['user'][4]|safe }}</a></article>

<div style="margin-top:20px;" id="disqus_thread"></div>
<script>
  (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://khmerweb.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endblock %}