/*static/styles/category.css*/
#bottombar{
  display: grid;
  grid-template-columns: auto auto auto auto;
}
#category-title{
  width: 100%;
  padding: 5px 10px;
  font: 16px/1.5 Oswald, Koulen;
}
::placeholder{
  opacity: .4;
}
#bottombar #submit, 
#bottombar #category-author,
#bottombar #category-date,
#bottombar #category-time{
  font: 14px/1.5 Vidaloka, OdorMeanChey !important;
  padding: 5px;
  text-align: center;
}
#bottombar #submit{
  padding: 3px 20px;
}
#bottombar #category-author{
  padding: 6px;
}
#bottombar #category-author{
  background:white;
  text-align:center;
}
#message{
  text-align: center;
}
