/*static/styles/category.css*/
#bottombar{
  display: grid;
  grid-template-columns: auto auto auto auto;
}
#category-title{
  width: 100%;
  padding: 5px 10px;
  font: 16px/1.5 Oswald, Koulen;
}
::placeholder{
  opacity: .4;
}
#bottombar #submit, 
#bottombar #category-author,
#bottombar #category-date,
#bottombar #category-time{
  font: 14px/1.5 Vidaloka, OdorMeanChey !important;
  padding: 5px;
  text-align: center;
}
#bottombar #submit{
  padding: 3px 20px;
}
#bottombar #category-author{
  padding: 6px;
}
#bottombar #category-author{
  background:white;
  text-align:center;
}
#message{
  text-align: center;
}
#item-listing{
  padding: 20px;
}
#item-listing .category{
  list-style-type: none;
  display: grid;
  grid-template-columns: 10% auto 25%;
  grid-gap: 10px;
  padding: 10px;
  background: lavender;
  margin-bottom: 10px;
}
#item-listing .category img{
  width: 100%;
  min-height: 100%;
  float: left;
}
#item-listing .title a{
  font-size: 16px;
  display: block;
}
#item-listing .crud{
  text-align: right;
}
#item-listing .crud .user{
  display: block;
  font-size: 16px;
  padding-bottom: 5px;
}
#item-listing .crud img{
  height: 30px;
  width: auto;
  visibility: hidden;
  float: right;
  margin: 0 5px;
}
#item-listing .category:hover > .crud img{
  visibility: visible;
}