/*static/styles/catlisting.css*/
#container{
  display: grid;
  grid-template-columns: calc(25% - 11.25px) calc(25% - 11.25px) calc(25% - 11.25px) calc(25% - 11.25px);
  grid-gap: 30px 15px;
  margin-top: 1px;
  padding: 15px;
  background: lavender;
  box-sizing: border-box;
}
#container .wrapper{
  width: 100%;
  padding-top: 56.25%;
  position: relative;
  display: block;
  overflow: hidden;
}
#container .wrapper img{
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#container .wrapper .play-icon{
  width: 20%;
  min-height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#container .post-wrapper .post-title{
  margin-top: 5px;
  display: block;
}
#container .post-wrapper .post-date{
  position: absolute;
  right: 5px;
  top: 2px;
  color: white;
  text-shadow: 2px 2px 5px black;
}
@media only screen and (max-width: 600px){
  #container{
    grid-template-columns: 100%;
  }
}
#load-more{
  background: lavender;
  text-align: center;
  padding-bottom: 10px;
}
#load-more img:hover{
  opacity: .5;
  cursor: pointer;
}