/*static/styles/base_dashboard.css*/
#header{
  background: lightgrey;
  border-bottom: 15px solid rgb(172, 170, 170);
}
#header #inner{
  display: grid;
  grid-template-columns: 30% auto 25%;
  align-items: center;
  grid-gap: 10px;
  padding: 10px;
}
#header #inner #logout{
  text-align: right;
}
#header #title{
  display: grid;
  grid-template-columns: 35px auto;
  grid-gap:5px;
  align-items: center;
  font: 27px/1.5 Moul;
}
#header #title img{
  width: 100%;
}
#main{
  margin-top: 10px;
  display: grid;
  grid-template-columns: 25% auto;
  grid-gap: 10px;
}
#main #sidebar{
  background: lightgrey;
  padding: 20px;
  min-height: 300px;
}
#main #sidebar div{
  display: grid;
  grid-template-columns: 15% auto;
  grid-gap: 10px;
  align-items: center;
  font: 18px/1.5 Koulen;
  margin-bottom: 15px;
}
#main #sidebar img{
  width: 100%;
}
#main #content{
  background: lightgrey;

}
#item-listing{
  background: lightgrey;
  margin-top:10px;
  min-height: 200px;
}
#content .ck-editor__editable {
  min-height: 335px;
}
/*****************/
#bottombar{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
#post-title{
  width: 100%;
  padding: 5px 10px;
  font: 16px/1.5 Oswald, Koulen;
}
::placeholder{
  opacity: .4;
}
#bottombar #submit, 
#bottombar #post-author,
#bottombar #post-date,
#bottombar #post-time,
#bottombar #category{
  font: 14px/1.75 Vidaloka, OdorMeanChey !important;
  padding: 5px;
  text-align: center;
}
#bottombar #submit{
  padding: 3px 20px;
}
#bottombar #post-author{
  padding: 6px;
}
#bottombar #post-author{
  background:white;
  text-align:center;
}
#message{
  text-align: center;
}
#item-listing{
  padding: 20px 20px 10px;
}
#item-listing .post{
  list-style-type: none;
  display: grid;
  grid-template-columns: 15% auto 25%;
  grid-gap: 10px;
  padding: 10px;
  background: lavender;
  margin-bottom: 10px;
}
#item-listing .post .thumbnail{
  overflow: hidden;
  position: relative;
  padding-top: 56.25%
}
#item-listing .post .thumbnail img{
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
}
#item-listing .post .thumbnail .play-icon{
  position: absolute;
  width: 25%;
  min-height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
#item-listing .title a{
  font: 18px/1.5 Oswald, Koulen;
  display: block;
}
#item-listing .title .category{
  font: italic 14px/1.75 Vidaloka, OdorMeanChey !important;
  font-style: Italic;
}
#item-listing .crud{
  text-align: right;
}
#item-listing .crud .user{
  display: block;
  font-size: 16px;
  padding-bottom: 5px;
}
#item-listing .crud img{
  height: 30px;
  width: auto;
  visibility: hidden;
  float: right;
  margin: 0 5px;
}
#item-listing .post:hover > .crud img{
  visibility: visible;
}
#load-more{
  list-style-type: none;
  text-align: center;
  background: lightgrey;
  padding-bottom: 10px;
}
#load-more img:hover{
  opacity: .5;
  cursor: pointer;
}
#video{
  padding: 20px;
}
#video span, #video input{
  font: 14px/1.5 Vidaloka, OdorMeanChey !important;
}
#video .left-part{
  width: 45%;
  display: grid;
  grid-template-columns: 20px auto;
  align-items: center;
  float: left;
  margin-bottom: 20px;
}
#video .right-part{
  display: grid;
  grid-template-columns: 25% auto;
  align-items: center;
  grid-gap: 5px;
}
#video .right-part input{
  padding: 5px;
}
#video .right-part span{
  text-align: right !important;
}
#video .right-part span input{
  position: relative;
  top: 2px;
}