<!--templates/dashboard/dashboard.html-->
<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="This blog engine is built for e-learning">
    <meta name="robots" content="index, follow">
    <meta name='keywords' content='e-learning, learning, school, math, programming'>
    <title>{{data['blog_title']}}</title>
    <script src="/static/scripts/jQuery.js"></script>
    <script src="/static/scripts/ckeditor/ckeditor.js"></script>
    <script src='/static/scripts/base.js'></script>
    <script src='/static/scripts/dashboard.js'></script>
    <link href="/static/styles/base.css" rel="stylesheet" >
    <link href="/static/styles/dashboard.css" rel="stylesheet">
    <link href="/static/fonts/setup.css" rel='stylesheet'>
    <link href="/static/images/site_logo.png" rel="shortcut icon">
    {% endblock %}
  </head>
  <body>
    <div id="header">
      {% block header %}
      <header id="inner" class="inner region">
        <div id="title">
          <a href="/"><img src="/static/images/site_logo.png" /></a>
          <a >{{data['blog_title']}}</a>
        </div>
        <div id="blog-search">
          <form class="search" action="/search/backend/" method="post">
            <input type="text"  placeholder="Search.." name="fquery" required>
            <button type="submit">ស្វែង​រក</button>
          </form>
        </div>
        <div id="logout"><a href="/login/logout/">ចេញ​ក្រៅ</a></div>
      </header>
      {% endblock %}
    </div>
    
    <div id="main" class="main region">
      {% block main %}
      <div id="sidebar">
        {% block sidebar %}
        <div><a href="/dashboard/"><img src="/static/images/posting.png" /></a><a href="/dashboard/">ចុះផ្សាយ​មេរៀន</a></div>
        <div><a href="/dashboard/category/"><img src="/static/images/categorizing.png" /></a><a href="/dashboard/category/">បង្កើតប្រភេទមេរៀន</a></div>
        <div><a href="/dashboard/page/"><img src="/static/images/paging.png" /></a><a href="/dashboard/page/">បង្កើតទំព័រមាតិកា</a></div>
        <div><a href="/dashboard/book/"><img src="/static/images/book.png" /></a><a href="/dashboard/book/">ចុះផ្សាយសៀវភៅ</a></div>
        <div><a target="_blank" href="/dashboard/upload/"><img src="/static/images/upload.png" /></a><a target="_blank" href="/dashboard/upload/">ចំលងឯកសារ</a></div>
        <div><a href="/addinguser"><img src="/static/images/user.png" /></a><a href="/addinguser">បន្ថែមសមាជិក</a></div>
        <div><a href="/setting"><img src="/static/images/setting.png" /></a><a href="/setting">កំណត់ទំរង់លក្ខណៈ</a></div>
        {% endblock %}
      </div>
      <div id="content">
        {% block content %}
        <form id='post' action='/dashboard/' method="POST" >
          {% if 'post' in data %}
          <input id='post-title' value="{{ data['post'][1] }}" name="fpost-title" type="text" placeholder="ចំណង​ជើង​មេរៀន" required />
          <textarea name="fcontent" id="editor" >{{ data['post'][3] }}</textarea>
          {% else: %}
          <input id='post-title' value="" name="fpost-title" type="text" placeholder="ចំណង​ជើង​​មេរៀន" required />
          <textarea name="fcontent" id="editor" ></textarea>
          {% endif %}
          <div id="bottombar">
            <input id="submit" class="bottom-widget" type="submit" value="ចុះ​ផ្សាយ">
            <select id='category' name="fcategory">
              {% if 'categories' in data %}
              {% for category in data['categories'] %}
                <option>{{ category[1] }}</option>
              {% endfor %}
              {% endif %}
            </select>
            {% if 'post' in data %}
            <script>$(`#category option:contains("{{ data['post'][2] }}")`).attr('selected', 'selected');</script>
            {% endif %}
            <input id="post-date" value="{{ data['datetime'][0] }}" class="post-time" type="text" name="fpost-date" required />
            <input id="post-time" value="{{ data['datetime'][1] }}" class="post-time" type="text" name="fpost-time" required />
            <input disabled type='text' value="{{ session['logged-in'] }}" id="post-author" class="post-time" name="fpost-author" required />
            {% if 'post' in data %}
            <input type="hidden" name="fvidata" value="{{ data['post'][7] }}" />
            {% else %}
            <input type="hidden" name="fvidata" value="" />
            {% endif %}
          </div>
        </form>
        <div id="message">{{ data['message'] }}</div>
        <script src="/static/scripts/ckeditor/config.js"></script>

        <form id="video" onsubmit="return lib.getVideoForm(event);">
          <section class="left-part">
            <input type="radio" name="vid-type" value="youtube" checked> <span>YouTube</span>
            <input type="radio" name="vid-type" value="youtubepl" > <span>YouTube Playlist</span>
            <input type="radio" name="vid-type" value="fbvid"> <span>Facebook</span>
            <input type="radio" name="vid-type" value="googledrive"> <span>Goolge Drive</span>
            <input type="radio" name="vid-type" value="dailymotion"> <span>Dailymotion</span>
            <input type="radio" name="vid-type" value="vimeo"> <span>Vimeo</span>
            <input type="radio" name="vid-type" value="okvid"> <span>OK</span>
          </section>

          <section class="right-part">
            <span>Video ID: </span><input type="text" name="video-id" required >
            <span>Playlist: <input type="checkbox" id="playlist" name="fplaylist" onclick="lib.enable()"></span>
            <input disabled type="text" name="vid-title" >
            <span></span><input type="submit" value="បន្ថែមវីដេអូ" />
          </section>
        </form>

        {% endblock %}
      </div>
      {% endblock %}
    </div>

    {% block item_listing %}
    <ul id="item-listing" class="item-listing region">
      {% for v in range(data['posts']|length) %}
      <li class="post">
        <a class="thumbnail" href="/post/{{ data['posts'][v][0] }}">
          <img src="{{data['thumbs'][v]}}" />
          {% if data['posts'][v][7]|length %}
          <img class="play-icon" src="/static/images/play.png" />
          {% endif %}
        </a>
        </script>
        <div class='title'>
          <a href="/post/{{ data['posts'][v][0] }}">{{ data['posts'][v][1] }}</a>
          <a href="/category/{{ data['posts'][v][2] }}" class="category">{{ data['posts'][v][2] }}</a>
          <span>{{ data['posts'][v][4].strftime('%d/%m/%Y') }}</span>
        </div>
        <div class="crud">
          <a class="user">{{ data['posts'][v][6] }}</a>
          <a href='/dashboard/post/delete/{{ data["posts"][v][0] }}'><img src="/static/images/delete.png" /></a>
          <a href='/dashboard/post/edit/{{ data["posts"][v][0] }}'><img src="/static/images/edit.png" /></a>
        </div>
      </li>
      {% endfor %}
    </ul>
    <div id="load-more" class="load-more region">
      <img onclick="lib.load_items('/dashboard/post/load/', 'posts')" src="/static/images/load-more.png" />
    </div>
    {% endblock %}

    <div id="footer" class="footer region">
      {% block footer %}
      &copy; Copyright 2020 by <a href="https://www.khmerweb.app/">Khmer Web</a>.
      <script>var base = new Base();</script>
      {% endblock %}
    </div>
  </body>
</html>